<div style="height:40px;-webkit-border-radius:0 0 10px 10px;border-radius:0 0 10px 10px;background-color:#f4f4f4;"></div>

<p style="line-height:10px;padding:20px 0; margin:0;text-align:center; font-size:11px; color:#999;">&copy; 2006&ndash;${today_date} Cleartrip Private Limited</p>
